body {
height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: arial;
}
header {
	background-color: #FFFFFF;
	height: 25vh;
	width: 100vw;
}
img.header {
	height: 100%;
}
div#mainContentHolder {
	height: 50vh;
	width: 100vw;
}
nav.menu {
	width: 20vw;
	height: 100%;
	background-color: #FFFF00;
	display: inline-block;
	float: left;
}
a.menu {
	font-size: 2em;
	color: #FFFFFF;
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
	height: 20%;
}
a.menu:hover {
	background-color: #00FFFF;
	color: #000000;
}
a.current {
	background-color: #0FFFF0;
	color: #00FF00;
}
p.menuParagraph {
	top: 50%;
	left: 50%;
	transform: translate(0%, 30%);
	height: 100%;
	width: 100%;
	margin: 0;
}
article.mainContent {
	width: 80vw;
	height: 100%;
	display: inline-block;
	background-color: #666666;
}
footer {
	clear: left;
	background-color: #333333;
	height: 25vh;
}

nav.footer {
	width: 100%;
}
a.footer {
	width: 50%;
	text-align: center;
	display: inline;
	color: #FFFFFF;
	float: left;
	font-size: 1.25em;
}
a.footer:hover {
	color: #FF00FF;
	background-color: #00FF00;
}
a {
	text-decoration: none;
}

div#mainArticle {
	height: 50vh;
	width: 100vw;
}
div.photoHolder {
	display: inline-block;
	margin:  4%;
	max-height: 100%;
	max-width: 70%;
	width: 70%;
}
img.noscript {
	display: inline-block;
}
img.photos {
	display: none;
	width: 100%;
}
/*
a.photosButtons {
	color: #0000FF;
	font-size: 4em;
	background-color: #FF0000;
	opacity: 50%;
}*/
div.mainText {
	margin: 2%;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
