article#mainArticle {
	height: 50vh;
	width: 100vw;
	display: inline-block;
	overflow: hidden;
	float: left;
}
div.photoHolder {
	display: inline-block;
	height: 50vh;
	width: 56vw;
	max-height: 50vh;
	max-width: 56vw;
	overflow: hidden;
	margin: 4%;
}
img.noscript {
	display: inline-block;
}
img.photos {
	display: none;
	max-height: 100%;
}
/*
a.photosButtons {
	color: #FFFFFF;
	font-size: 4em;
	background-color: #949494;
	opacity: 50%;
}*/
div.mainText {
	margin: 2%;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
