body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: arial;
}
header {
	background-color: #FFFFFF;
	height: 25vh;
	width: 100vw;
}
img.header {
	height: 100%;
}
div.mainContent {
	height: 50vh;
	width: 100vw;
}
nav.menu {
	width: 20vw;
	height: 100%;
	background-color: #AD151D;
	float: left;
	display: inline-block;
}
a.menu {
	font-size: 2em;
	color: #FFFFFF;
	text-align: center;
	padding: 0;
	margin: 0;
	display: block;
	height: 20%;
}
a.menu:hover {
	background-color: #949494;
	color: #AD151D;
}
a.current {
	background-color: #949494;
	color: #AD151D;
}
p.menuParagraph {
	
	top: 50%;
	left: 50%;
	transform: translate(0%, 30%);
	height: 100%;
	width: 100%;
	margin: 0;
}
article.main {
	width: 80vw;
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #0D6C64;
}
img.photos {
	display: none;
	width: 50%;
	float: left;
}
img.noscript {
	width: 50%;
	display: inline-block;
	float: left;
}
a.photosButtons {
	color: #FFFFFF;
	font-size: 4em;
	background-color: #949494;
	opacity: 50%;
}
footer {
	clear: left;
	background-color: #78A514;
	height: 25vh;
}

nav.footer {
	width: 100%;
}
a.footer {
	width: 50%;
	text-align: center;
	display: inline;
	float: left;
	color: #FFFFFF;
	font-size: 1.25em;
}
a.footer:hover {
	color: #545454;
	background-color: #6D9612;
}
a {
	text-decoration: none;
}


